---
http_interactions:
- request:
    method: get
    uri: https://dataflo2.pchqas.com/B2B/Generic/SC.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http:/schema.pchintl.com/dataflo/B2B/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http:/schema.pchintl.com/dataflo/B2B/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http:/schema.pchintl.com/dataflo/B2B/\">\r\n
        \     <s:element name=\"GetShipmentConfirmationsByNextToken\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"senderID\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"checkString\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"companyID\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"nextToken\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
      [...]
- request:
    method: post
    uri: https://dataflo.pchqas.com/B2B/Generic/SC.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http:/schema.pchintl.com/dataflo/B2B/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http:/schema.pchintl.com/dataflo/B2B/"><env:Body><ins0:GetShipmentConfirmationsByNextToken><ins0:senderID>username</ins0:senderID><ins0:checkString>apassword</ins0:checkString><ins0:companyID>PCH</ins0:companyID><ins0:nextToken>0</ins0:nextToken></ins0:GetShipmentConfirmationsByNextToken></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http:/schema.pchintl.com/dataflo/B2B/GetShipmentConfirmationsByNextToken"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<Envelope>\n
        \ <Body>\n    <GetShipmentConfirmationsByNextTokenResponse>\n      <GetShipmentConfirmationsByNextTokenResult>\n
        \       <XML>&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?&gt;\n&lt;DeliveryConfirmations
        xmlns:pchBase=\"http://schema.pchintl.com/pchBase_v1.0\" Action=\"Read\"&gt;\n
        \ &lt;SC&gt;\n    &lt;SRef&gt;\n      &lt;RefV&gt;B2B&lt;/RefV&gt;\n      &lt;RefQ&gt;OrderType&lt;/RefQ&gt;\n
        \   &lt;/SRef&gt;\n    &lt;DN&gt;H123456789&lt;/DN&gt;\n    &lt;AWB&gt;AWB12334&lt;/AWB&gt;\n
        \   &lt;Car&gt;Ceva Logistics&lt;/Car&gt;\n    &lt;DoDt&gt;2012-11-26&lt;/DoDt&gt;\n
        \   &lt;ShDt&gt[...]
