---
http_interactions:
- request:
    method: get
    uri: https://dataflo2.pchqas.com/B2B/Generic/GAN.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http:/schema.pchintl.com/dataflo/B2B/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http:/schema.pchintl.com/dataflo/B2B/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http:/schema.pchintl.com/dataflo/B2B/\">\r\n
        \     <s:element name=\"GetGoodsArrivalNoticesByNextToken\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"senderID\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"checkString\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"companyID\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"nextToken\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
      [...]
- request:
    method: post
    uri: https://dataflo.pchqas.com/B2B/Generic/GAN.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http:/schema.pchintl.com/dataflo/B2B/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http:/schema.pchintl.com/dataflo/B2B/"><env:Body><ins0:GetGoodsArrivalNoticesByNextToken><ins0:senderID>username</ins0:senderID><ins0:checkString>apassword</ins0:checkString><ins0:companyID>PCH</ins0:companyID><ins0:nextToken>0</ins0:nextToken></ins0:GetGoodsArrivalNoticesByNextToken></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http:/schema.pchintl.com/dataflo/B2B/GetGoodsArrivalNoticesByNextToken"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetGoodsArrivalNoticesByNextTokenResponse
        xmlns="http:/schema.pchintl.com/dataflo/B2B/"><GetGoodsArrivalNoticesByNextTokenResult><XML>&lt;?xml
        version="1.0" encoding="utf-8"?&gt;&lt;GoodsAvailable Action="Read"&gt;&lt;GA&gt;&lt;PO
        /&gt;&lt;DtAv&gt;2012-10-01&lt;/DtAv&gt;&lt;VC&gt;username&lt;/VC&gt;&lt;Hub&gt;&lt;PCod&gt;CFS&lt;/PCod&gt;&lt;/Hub&gt;&lt;Itm&gt;&lt;LN
        /&gt;&lt;PN&gt;LB-BIT-o13-FAN-v03-2&lt;/PN&gt;&lt;Qty&gt;1000&lt;/Qty&gt;&lt;UOM&gt;EA&lt;/UOM&gt;&lt;TN&gt;10012012&lt;/TN&gt;&lt;/Itm&gt;&lt;Itm&gt;&lt;LN
        /&gt;&lt;PN&gt;LB-BIT-o16-LIGHTWIRE-v03-2&lt;/PN&gt;&lt;Qty&gt;2000&lt;/Qty&[...]
