---
http_interactions:
- request:
    method: get
    uri: https://dataflo2.pchqas.com/B2B/Generic/DO.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http:/schema.pchintl.com/dataflo/B2B/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http:/schema.pchintl.com/dataflo/B2B/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http:/schema.pchintl.com/dataflo/B2B/\">\r\n
        \     <s:element name=\"CreateDeliveryOrders\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"senderID\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"checkString\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"companyID\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"xmlPayload\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
     [...]
- request:
    method: post
    uri: https://dataflo.pchqas.com/B2B/Generic/DO.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"http:/schema.pchintl.com/dataflo/B2B/\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ins0=\"http:/schema.pchintl.com/dataflo/B2B/\"><env:Body><ins0:CreateDeliveryOrders><ins0:senderID>username</ins0:senderID><ins0:checkString>apassword</ins0:checkString><ins0:companyID>PCH</ins0:companyID><ins0:xmlPayload>&lt;?xml
        version=&quot;1.0&quot;?&gt;\n&lt;DeliveryOrders xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
        Action=&quot;Create&quot; xsi:noNamespaceSchemaLocation=&quot;http://schema.pchintl.com/DO/DO_1.0.xsd&quot;&gt;\n
        \ &lt;DO&gt;\n    &lt;DN&gt;R209324552_H438105531460&lt;/DN&gt;\n    &lt;PODT&gt;2012-09-10&lt;/PODT&gt;\n
        \   &lt;DCDT&gt;2012-09-10&lt;/DCDT&gt;\n    &lt;BAdr&gt;\n      &lt;Nm1&gt;Santina
        Quitzon&lt;/Nm1&gt;\n      &lt;Ad[...]
